/* Add a background color to the whole page */
*{
    background-color: #faefe0;
    font-family: "Poppins",sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #14544e;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover{
    background-color:#c49963;
    color:#282a29;
  }

  li{
    list-style-type: none;
    float: left;
    padding: 18px 20px;
  }